/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    color: #777;
    font-weight: 700;
}

/* UTULITIES */
.debug-box {
    height: 250px;
    width: 250px;
    background: green;
    margin: 5px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow {
    overflow: auto;
}

.p-tb-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-lr-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-30px {
    margin-top: 30px;
}

.mr-10px {
    margin-right: 10px;
}

h2,h3,h4 {
    color: #fff;
}

.circle {
    border-radius: 50%;
}

.principal-bar {
    height: 4px;
    background: #5A5A5A;
    border-radius: 10px;
    cursor: pointer;
}

.secondary-bar {
    background: #C1C1C1;
    height: 100%;
    width: 15%;
    cursor: pointer;
}

.footer-button {
    background-color: #282828;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* MAIN */
/* Side Bar */
.side-bar {
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    background: #000;
}

.side-container .logo {
    width: 75%;
}

.side-container .settings {
    list-style: none;
}

.side-container .settings img {
    vertical-align: middle;
    width: 30px;
}

.side-bar .account hr {
    border: 1px solid #777;
}

.side-bar .account img {
    background: #777;
    width: 30px;
    vertical-align: middle;
}

.side-bar .account h3 {
    display: inline-block;
    vertical-align: middle;
}

/* Main Container */
.main-container {
    background: #141922;
}

/* Call to action */
.main-container .call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    width: calc(100% - 250px);
    background: rgba(0,0,0,.5);
}


.main-container .call-to-action .button {
    display: inline-block;
    padding: 15px 40px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 40px;
    color: #fff;
    background: rgba(0,0,0,.5);
}

/* Main content */
.main-container .content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.main-nav ul {
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #777;
}

.main-container .category .albums .album {
    width: calc(100% / 6 - 10px);
    text-align: center;
    list-style: none;
}

.main-container .category .albums .album img {
    width: 100%;
}

.img-container {
    position: relative;
}

.img-container::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.img-container::before {
    content: '\f144';
    display: none;
    font-family: 'Font Awesome 6 Free';
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}


.album:hover .img-container::after,
.album:hover .img-container::before{
    display: block;
}

/* FOOTER */
.app-player {
    justify-content: space-between;
    align-items: center;
    background: #282828;
    padding: 0 5px;
}

.player-album {
    width: 250px;
    flex-shrink: 0;
    align-items: center;
}

.player-album img {
    width: 15%;
}

.player-album .info {
    margin-right: 40px;
}

.player-album .icons button {
    margin-right: 10px;
}

.player-controller {
    color: #fff;
    text-align: center;
}

.player-controller ul li,
.player-audio ul li {
    display: inline-block;
    list-style: none;
}

.player-controller ul li button {
    margin: 15px;
    font-size: 18px;
}

.player-controller ul li button .fa-play-circle {
    font-size: 28px;
}

.player-controller .timeline {
    align-items: center;
    margin-bottom: 20px;
}

.player-controller .timeline .principal-bar {
    width: 400px;
    margin: 0 15px;
}

.player-audio {
    width: 250px;
    flex-shrink: 0;
    align-items: center;
}

.player-audio ul li button {
    margin: 0 8px;
}

.player-audio  .principal-bar {
    flex-grow: 1;
    margin: 0 15px;
}

